.sidenavdrag {
  position: absolute;
  left: 100%;
  top: 4em;
  margin: 2em 0 0 2em;
}
.hideel {
  opacity: .1;
  position: absolute;
  right: 0;
  transition: 0.3s;
}

.unlistsection:hover .hideel {
  opacity: 1;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(90deg, var(--shade-2) 0%, var(--shade-1) 70%);
  background: -webkit-linear-gradient(90deg, var(--shade-2) 0%, var(--shade-1) 70%);
  background: linear-gradient(90deg, var(--shade-2) 0%, var(--shade-1) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--),endColorstr="#ffffff",GradientType=1);
}
